@use '$lib/styles/vars' as vars;

// Robot font
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: vars.$text-color;

    background-color: vars.$bg-color;
}

